table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: lightgrey;
}

h1 {
    text-align: center;
}

button {
    min-width: 70px;
}

.name {
    width: 250px;
}

.score {
    width: 100px;
}

.editBtn:hover:enabled, .delBtn:hover:enabled{
    background-color: lightgrey;
}